/* *{
  margin:0;
  padding:0;
} */
body{
  font-family: Baloo;
  margin: 0;
  padding: 0;
}
p{
  display: inline-block;
  font-size: 1.5em;
  font-weight: bolder;
  position: relative;
  bottom : 50px;
  margin: 0 0 0 10px ;
  color: yellow;

}
.banner-text{
  width: 100%;
  position: absolute;
  color: #fff;
}

.banner-text ul{
  height:50px;
  float:right;
}

.banner-text ul li{
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
}
.banner-text h2{
  text-align:center;
  color: #fff;
  font-size: 50px;
  margin-top: 20px;

}
.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-area li{
  position:absolute;
  display: flex;
  list-style: none;
  width: 25px;
  height:25px;
  background: rgba(255, 255, 255, 0.3);
  animation: animate 20s linear infinite;
  bottom:-180px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;


}
.box-area li:hover{
  background-color: lightblue;
  /* animation-play-state: paused; */
}

/* .box-area li:nth-child(1){
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay:0s;
} */

#chn1{
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay:0s;
}

.visibility{
  visibility: hidden;
}


.box-area li:nth-child(2){
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay:1.5s;
  animation-duration: 10s;
}
.box-area li:nth-child(3){
  left: 70%;
  width: 150px;
  height: 150px;
  animation-delay:5.5s;
  /* background-image: url("img4.jpg");
  /* background-position: center; */
  /* background-size: cover; */

}
.box-area li:nth-child(4){
  left: 56%;
  width: 180px;
  height: 180px;
  animation-delay:0s;
  animation-duration: 15s;
  /* background-image: url("img2.jpg");
  background-size: cover; */
}
.box-area li:nth-child(5){
  left: 15%;
  width: 50px;
  height: 50px;
  animation-delay:0s;
  /* background-image: url("img1.jpg");
  background-size: cover;
  background-position: center; */

}
.box-area li:nth-child(6){
  left: 36%;
  width: 140px;
  height: 140px;
  animation-delay:0s;
  animation-duration: 15s;
  /* background-image: url("img3.jpg");
  background-size: cover; */
}

.box-area li:nth-child(7){
  left: 76%;
  width: 40px;
  height: 40px;
  animation-delay:1s;
}
.box-area li:nth-child(8){
  left: 45%;
  width: 140px;
  height: 140px;
  animation-delay:0s;
  animation-duration: 6s;
  font-weight: 600;
  color: #fff;
  font-size: 1.5em;
}

/* regular bubbles */

.box-area li:nth-child(9){
  left: 8%;
  width: 8px;
  height: 8px;
  animation-delay:1.2s;
  animation-duration: 10s;
}
.box-area li:nth-child(10){
  left: 6%;
  width: 5px;
  height: 5px;
  animation-delay:1.5s;
  animation-duration: 13s;
}
.box-area li:nth-child(11){
  left: 31%;
  width: 10px;
  height: 10px;
  animation-delay:3.0s;
}
.box-area li:nth-child(12){
  left: 36%;
  width: 10px;
  height: 10px;
  animation-delay:2.7s;
  animation-duration: 6s;
}
.box-area li:nth-child(13){
  left: 58%;
  width: 7px;
  height: 7px;
  animation-delay:2s;
}
.box-area li:nth-child(14){
  left: 63%;
  width: 7px;
  height: 7px;
  animation-delay:2.4s;
  animation-duration: 11s;
}
.box-area li:nth-child(15){
  left: 82%;
  width: 8px;
  height: 8px;
  animation-delay:1s;
}
.box-area li:nth-child(16){
  left: 86%;
  width: 8px;
  height: 8px;
  animation-delay:1.5s;
}
/* adding small bubbles */
.box-area li:nth-child(17){
  left: 11%;
  width: 5px;
  height: 5px;
  animation-delay:13.5s;
}
.box-area li:nth-child(18){
  left: 26%;
  width: 10px;
  height: 10px;
  animation-delay:5s;
  animation-duration: 15s;
}
.box-area li:nth-child(19){
  left: 38%;
  width: 7px;
  height: 7px;
  animation-delay:12s;
}
.box-area li:nth-child(20){
  left: 33%;
  width: 7px;
  height: 7px;
  animation-delay:9.4s;
}
.box-area li:nth-child(21){
  left: 22%;
  width: 8px;
  height: 8px;
  animation-delay:18s;
  animation-duration: 15s;
}
.box-area li:nth-child(22){
  left: 46%;
  width: 8px;
  height: 8px;
  animation-delay:18.5s;
}
.box-area li:nth-child(23){
  left: 41%;
  width: 10px;
  height: 10px;
  animation-delay:12s;
}
.box-area li:nth-child(24){
  left: 66%;
  width: 8px;
  height: 8px;
  animation-delay:10s;
}
.box-area li:nth-child(25){
  left: 78%;
  width: 7px;
  height: 7px;
  animation-delay:4s;
}
.box-area li:nth-child(26){
  left: 73%;
  width: 7px;
  height: 7px;
  animation-delay:3.4s;
  animation-duration: 5s;
}
.box-area li:nth-child(27){
  left: 85%;
  width: 8px;
  height: 8px;
  animation-delay:1s;
}
.box-area li:nth-child(28){
  left: 88%;
  width: 5px;
  height: 5px;
  animation-delay:15.5s;
  animation-duration: 4s;
}
.box-area li:nth-child(29){
  left: 92%;
  width: 10px;
  height: 10px;
  animation-delay:2s;
}
.box-area li:nth-child(30){
  left: 96%;
  width: 10px;
  height: 10px;
  animation-delay:13.5s;
  animation-duration: 6s;
}


.animation-area{
  /* background: linear-gradient(to left, #8942a8, #ba382f); */
  background: linear-gradient(to left, #0000ff, #6495ed);
   width: 100%;
   height:100vh;
}

#chn1:active{
  background-color: pink;

}
#chn2:active{
  background-color: blue;

}
#chn3:active{
  background-color: orange;
}
#chn4:active{
  background-color: red;
}
#chn5:active{
  background-color: violet;
}
#chn6:active{
  background-color: yellow;
}
#chn7:active{
  background-color: skyblue;
}

@keyframes animate{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

@media (max-width: 68em){
  .banner-text ul li{
    font-size: 15px;
  }
  .banner-text h2{
    font-size: 25px;
  }
}
